h1 {
  font-family: 'Anton', sans-serif;
}

#title-site {
  color: white;
  text-shadow: 6px 0px 1px #3282a7;
  font-size: 2.25rem;
}
.navbar-nav{
  font-size: 1.35rem;
  font-weight: 700;
  font-family: 'Raleway' !important;
}
h2 {
font-family: 'Anton', sans-serif;
}

h4 {
   font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.header img {
  width: 72%;
}

body,html {
background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
margin: 0px;
padding: 0px;
}

.gambino {
  display: block;
  /* margin: 0px auto 10px auto; */
  /* border: 10px solid; */
  border-color: black;
  background-image: url(img/because_the_internet.jpg);
}
.header {
  background-color: black;
  box-shadow: -3px 6px 7px rgba(0,0,0,0.8);
}

.section-images {
  width: 100%;
  height: 375px;
  margin-bottom: 15px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}


#info-text {
  padding: 10px 35px 15px 35px;
}

#audio-player {
  display: block;
  margin: auto;
  width: 90%;
}

/* .header {
  background: rgb(0,0,0,0.4);
  padding: 40px 0px 40px 0px; 
  border-radius: 35px;
  margin: 60px 45px 60px 45px; */
  /*margin: 60px 20px 0px 20px;*/
  /* box-shadow: -14px -5px 22px -2px;
} */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.header {
  height: 93vh;
  display: flex;
  color: white;
  /* box-shadow: 2px 5px 2px rgba(0,0,0,0.8); */
}

.header img {
  /* width: 100%; */
  height: 93vh;
}

.header-ff{
  text-align: center;
}

#video {
  margin-top: 2%;
  margin-bottom: 2%;
}

#end-quote {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  /* display: inline-block; */
  align-self: center;
  /* background-image: url("/img/because_the_internet.jpg");
  background-size: cover; */

  /* text-decoration: none; */
}

 .album-content:hover {
      cursor:initial;
    }
    .modal {
      cursor: pointer;
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 2;
      left: 0;
      top: 0;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgb(0,0,0,0.7);
    }

    .modal-content {
      margin: 2% auto;
      padding: 20px 3% 40px 3%;
      width: 98%;
      height: 92%;
      background-color: #191E1E;
      border-radius: 10px;
      overflow-y: scroll;
    }

    .close {
      color: white;
      font-weight: 600;
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 10px; 
    }

    .close:hover, .close:focus {
      color: grey;
      cursor: pointer;
    }

    .modal-img {
      width: 95%;
      border: 1px solid black;
      margin-bottom: 5%;
    }
    table{
      width: 100%;
      margin-bottom: 10px;
    }
    td, th {
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey; 
    text-align: left;
    padding: 8px;
  }
  th , .genre, .extras{
    color: grey;
  }
  td {
    color: white;
    overflow: hidden;
  }
  .extras{
    font-size: 14px;
  }

  td:nth-child(2), td:nth-child(3){
    color: grey;
  }

  table span {
    margin-right: 3% !important; 
  }
  .modal-content p{
    margin-bottom: 0px !important;
  }

  .modal-content p:nth-type(1){
    color: orange;
    font-size: 30px;
  }
  /*USED FOR STYLING TABLE ENTRIES*/
  .song-num {
    margin-right: 16px; 
    color: grey;
  }
  .album:hover{
    cursor: pointer;
  }

  .album-title {
    color: white;
  }
@media(max-width: 768px){
  .section-images{
    height: 30vh;
  }
  .header img {
    width: 100%;
    height: 65vh;
  }

  .header {
    /* margin: 60px 10px 60px 10px; */
    height: 65vh;
  }
}

@media (max-width: 767px){
  .section-images{
    height: 300px;
  }
  .header img {
    width: 100%;
    height: 50vh;
  }

  .header {
    /* margin: 60px 10px 60px 10px; */
    height: 70vh;
  }
}

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

footer {
  box-shadow: 0px -5px 17px rgba(0,0,0,0.5);
  padding: 2% 0px 2%;
  background-color: #343a40;

}
.footer-section {
  /* height: 120px; */
  /* line-height: 100px; */
  margin-right: 2%;
 
}
.footer-section:nth-child(1) {
  border-right: 2px solid white;
}
#info-text h5 {
  font-family: 'Raleway';
}

.navbar-expand-sm .navbar-collapse{
  justify-content: flex-end;
}

@media(max-width: 576px) {
  .header, .header img {
    height: initial;
    /* margin-top: 1.25rem; */
  }
 
  .footer-section:nth-of-type(1){
    order:12;   
  }
  h4#title-site {
    margin-top: 5% !important;
    border-top: 4px solid white;
    padding-top: 5%;
  }

}

/* Album style */
.album-slideshow {
  background-color: black;
  /* width: 100%; */
  padding:16px 0;
  color: white;
}

.left-arrow {
  height: 34px;
  width: 34px;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  transform: rotate(45deg);
  /* display: block; */
  margin: auto;
}
.right-arrow {
  height: 34px;
  width: 34px;
  border-right: 8px solid white;
  border-top: 8px solid white;
  transform: rotate(45deg);
  margin: auto;
}

.right-arrow:hover {
  border-right-color: #ffb844;
  border-top-color: #ffb844;
  cursor: pointer;
}
.left-arrow:hover {
  border-left-color: #ffb844;
  border-bottom-color: #ffb844;
  cursor: pointer;
}
img.slideshow-img {
  width:100%;
}

.album-details h1, .album-details h2  {
  font-family: initial;
}
.not-displaying  {
  display: none;
}
.display {
  display: block;
}

.next-button, .prev-button {
  background-color: black;
  color: white;
  font-size: 2rem;
}

.next-button:hover, .prev-button:hover {
  color: #ffb844;
}