h1 {
  font-family: 'Anton', sans-serif;
}

h2 {
font-family: 'Anton', sans-serif;
}

h4 {
   font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

body {
background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  
 /*font-family: 'Raleway', sans-serif;*/
  margin: 60px 20px 0px 20px
}

.gambino {
  display: block;
  margin: 0px auto 10px auto;
  border: 10px solid;
  border-color: black;
}

.section-images {
  width: 350px;
  height: 330px;
  margin-bottom: 15px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
}


#info-text {
  margin: 10px 15px 15px 10px;
}

/*#fun-facts {
  margin: 20px 15px 30px 15px;
}*/

#video {
  margin-top: 5%;
}

#end-quote {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  display: inline-block;
}

